body {
  background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-168544.jpg')grey no-repeat fixed;
  background-size: cover;
  background-blend-mode: screen;
}

#hideVidBtn {
  margin-right: 20px;
  margin-bottom: 20px;
}

#progBar {
  width: 330px;
}

#volumeCtrl {
  width: 75px;
}

#chatTitle {
  font-weight: bold;
  text-align: center;
}

#chatPan {
  max-width: 750px;
}

.chatBox > .chatMessage > .chatMessageUser {
  font-weight: bold;
}