#titleText {
  font-family: 'Carter One';
}

body {
  background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-168544.jpg')grey no-repeat fixed;
  background-size: cover;
  background-blend-mode: screen;
}


/*CONTENTS OF VIDEO PANEL HEADER*/
#audioTitle {
  font-weight: bolder;
}
#useSyncBtn {
  float: right;
}
#hideVidBtn {
  float: right;
  padding-left: 5px;
}

/*RESTRICT VIDEO/AUDIO CONTROL SIZE*/
#allCtrls {
  max-width: 700px;
}
/*PLAYBACK LOGIC*/
.videoCtrl {
  position: absolute;
  float: left;
}
#progBar {
  margin-left: 20%;
  width: 350px;
}
/*VOLUME LOGIC*/
#muteBtn {
  float: left;
}
#volumeCtrl {
  margin-left: 15%;
  width: 75px;
}

/*VIDEO QUEUE PANEL*/
/*QUEUE HEADER*/
#qAddText {
  font-weight: bold;
  float: left;
  padding: 10px 10px 10px 10px;
}
#vidSubmit {
  width: 60%;
}
#qPanelBody {
  margin-top: auto;
  overflow: auto;
  position: relative;
  height: 278px;
}
/*ALL CHAT MESSAGES*/
#qTextBody {
  overflow: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0;
}

/*CHAT PANEL*/
#chatTitle {
  font-weight: bold;
  text-align: center;
}
/*CHAT PANEL BODY CONTAINER*/
#chatPanBody {
  margin-top: auto;
  overflow: auto;
  position: relative;
  height: 379px;
}
/*ALL CHAT MESSAGES*/
#textBody {
  overflow: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0;
}
#chatMessageUser {
  font-weight: bold;
}
#userIdBox {
  width: 100px;
}
#chatInputBox {
  width: 60%;
}